body{
    margin: 0px;
    padding: 0px;
    display: block;
    text-align: left;
    font-family: 'Noto Serif Display', serif;
}

.body-container{
    background-color: #040D12;
    // background: linear-gradient(180deg, rgba(4,13,18,1) 50%, rgba(19,51,51,1) 100%);
    // background: linear-gradient(0deg, rgba(4,13,18,1) 50%, rgba(19,51,51,1) 100%);
    color: #93B1A6;
    .header-wrapper{
        background-color: #040D12;
        .header-container{
            padding: 20px 0px;
            .logo-wrapper{
                .logo{
                    font-family: 'Dancing Script', cursive;
                    font-size: 28px;
                    color: #5C8374;
                    font-weight: 500;
                }
            }
            .nav-wrapper{
                .nav-container{
                    height: 100%;
                    display: flex;
                    justify-content: end;
                    .nav{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: auto;
                        font-size: 20px;
                        cursor: pointer;
                        color: #5C8374;
                        padding: 0px 25px;
                        &:hover{
                            transform: scale(1.05);
                            transition: 0.25s;
                            color: #93B1A6;
                        }
                    }
                }
            }
        }
    }

    .home-wrapper{
        background: linear-gradient(180deg, rgba(4,13,18,1) 50%, rgba(19,51,51,1) 100%);
        padding-bottom: 100px;
        .home-container{
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 125px;
                padding-bottom: 20px;
            .info-wrapper{
                .text-1{
                    font-size: 45px;
                }
                .text-2{
                    font-size: 28px;
                    padding: 2px 0px;
                }
                .btn-wrapper{
                    padding: 20px 0px;
                    button{
                        color: #040D12;
                        background-color: #93B1A6;
                        font-size: 18px;
                        border: 0px;
                        padding: 10px 40px;
                        cursor: pointer;
                        border-radius: 4px;
                        border: 2px solid #93B1A6;
                        &:hover{
                            background-color: #183D3D;
                            color: #93B1A6;
                            border: 2px solid #93B1A6;
                            transition: 0.2s;
                        }
                    }
                }
            }
            .picture-wrapper{
                display: flex;
                justify-content: center;
                align-items: center;
                .picture-container{
                    padding: 10px;
                    border: 2px solid #93B1A6;
                    transform: rotate(2deg);
                    img{
                        height: 480px;
                    }
                }
                
            }
        }
    }

    .edu-wrapper{
        background: linear-gradient(0deg, rgba(4,13,18,1) 50%, rgba(19,51,51,1) 100%);
        position: relative;
        overflow: hidden;
        &.mb-100{
            margin-bottom: 100px;
        }
        .edu-side-image{
            background-image: url('../images/education.jpg');
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            background-size: cover;
            height: 700px;
            width: 35%;
            left: -45px;
            top: -25px;
        }
        .edu-container{
            padding: 50px 0px;
            .heading-wrap{
                display: flex;
                align-items: center;
                justify-content: left;
                padding: 40px 0px;
                .heading-icon{
                    display: inline-block;
                    width: auto;
                    img{
                        height: 45px;
                        width: 45px;
                    }
                }
                .heading{
                    padding-right: 15px;
                    font-size: 35px;
                    text-align: center;
                    width: auto;
                    display: inline-block;
                }
            }
            .info-wrapper{
                padding: 20px 0px;
                .title{
                    font-size: 27px;
                    padding-bottom: 10px;
                }
                .border-line{
                    width: 200px;
                    background: #93B1A6;
                    height: 2px;
                }
                .description{
                    font-size: 22px;
                    padding: 10px 0px;
                }
                .date{
                    font-size: 18px;
                    letter-spacing: 2px;
                }
            }
            .details-btn{ 
                margin-top: 25px;
                border: 1px solid #93B1A6;
                width: auto;
                display: inline-block;
                padding: 5px 20px;
                border-radius: 5px;
                cursor: pointer;
                font-size: 18px;
                background-color: #183D3D;
                &:hover{
                    border: 1px solid #93B1A6;
                    background-color: #93B1A6;
                    color: #040D12;
                    transition: 0.2s;
                }
                &.exp{
                    background-color: #040D12;
                    &:hover{
                        border: 1px solid #93B1A6;
                        background-color: #93B1A6;
                        color: #040D12;
                        transition: 0.2s;
                    }
                }

            }
            .skills-image{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                img{
                    height: 200px;
                }
            }
        }
        
    }
    .experiece-wrapper{
        background: linear-gradient(180deg, rgba(4,13,18,1) 50%, rgba(19,51,51,1) 100%);
        .exp-side-image{
            background-image: url('../images/experience.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: auto;
            position: absolute;
            background-size: cover;
            height: 850px;
            width: 50%;
            right: -45px;
            top: -35px;
            
        }
        .heading-icon{
            img{
                height: 35px;
                width: 25px;
            }
        }
    }
    .skills-wrapper{
        padding: 50px 0px;
        background: linear-gradient(0deg, rgba(4,13,18,1) 50%, rgba(19,51,51,1) 100%);
        .skills-container{
            .heading-wrap{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 50px 0px;
                .heading-icon{
                    display: inline-block;
                    width: auto;
                    img{
                        height: 28px;
                        width: 28px;
                    }
                }
                .heading{
                    padding: 0px 10px;
                    font-size: 35px;
                    text-align: center;
                    width: auto;
                    display: inline-block;
                }
            }
            .skills-info-wrapper{
                padding: 20px 0px;
                margin-right: 40px;
                position: relative;
                .title{
                    font-size: 27px;
                    text-align: center;
                    position: absolute;
                    left: 25px;
                    top: -10px;
                    display: block;
                    padding: 10px 15px;
                    background-color: #040D12;
                }
                .border-line{
                    width: 200px;
                    background: #93B1A6;
                    height: 2px;
                }
                .description{
                    font-size: 22px;
                    border: 1px solid #93B1A6;
                    padding: 28px 28px;
                    padding-top: 40px;
                    border-radius: 10px;
                }
                .date{
                    font-size: 18px;
                    letter-spacing: 2px;
                }
            }
            .skills-image{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                img{
                    height: 200px;
                }
            }
        }
    }
    .contact-wrapper{
        padding: 50px 0px;
        // background: linear-gradient(180deg, rgba(4,13,18,1) 50%, rgba(19,51,51,1) 100%);
        .contact-container{
            .heading{
                font-size: 35px;
                padding: 40px 0px;
            }
            .info-wrapper{
                .socials-wrapper{
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    padding-bottom: 25px;
                    .icon{
                        height: 40px;
                        width: 40px;
                        background-color: #183D3D;
                        border-radius: 20%;
                        border: 2px solid #93B1A6;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img{
                            height: 22px;
                            width: 22px;
                        }
                    }
                    a{
                        text-decoration: none;
                        color: #5C8374;
                        &:hover{
                            color: #93B1A6;
                            transition: 0.25s;
                        }
                        .link{
                            padding-left: 15px;
                            font-size: 18px;
                            cursor: pointer;
                        }
                    }
                    
                }
            }
            .resume-wrapper{
                display: flex;
                justify-content: end;
                align-items: baseline;
                .download-resume{
                    color: #040D12;
                    background-color: #93B1A6;
                    font-size: 18px;
                    border: 0px;
                    padding: 10px 40px;
                    cursor: pointer;
                    border-radius: 4px;
                    border: 2px solid #93B1A6;
                    &:hover{
                        background-color: #183D3D;
                        color: #93B1A6;
                        border: 2px solid #93B1A6;
                        transition: 0.2s;
                    }
                }
            }
        }
    }
}