.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    background-color: rgba(4, 13, 18, 0.1) !important;
    z-index: 9999;    
    .modal-container{
        .modal-close{
            cursor: pointer;
            background-image: url(../images/icons/close.png);
            height: 15px;
            width: 15px;
            position: absolute;
            top: 15px;
            right: 15px;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}